.venv
.venv*
build/
*.egg
*.egg-info
wav/
src/__pycache__/
__pycache__/
*.parquet
.aws-config
temp.py
.DS_Store
Icon?
Icon[[:cntrl:]]
taipy_visualization/__pycache__/
taipy_visualization/.env
M2_Ship_Data/
.vscode/
.env